<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.biniam.rss">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.ReadablyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.biniam.rss.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.base.SelectFeedServiceActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.base.HomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".leanrssImageViewer.ImageViewerActivity"
            android:theme="@style/Theme.AppTheme.FullScreen" />
        <activity
            android:name=".ui.base.FeedbinLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.base.SearchForSubscriptionsActivity"
            android:label="@string/new_subscription"
            android:parentActivityName=".ui.base.SearchForSubscriptionsActivity"
            android:theme="@style/AppTheme.NewSubscriptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biniam.rss.ui.base.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.base.FeedItemsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".ui.base.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biniam.rss.ui.base.HomeActivity" />
        </activity>

        <activity
            android:name=".connectivity.inoreader.InoOAuthAuthenticatorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="readably" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".utils.ConnectivityState"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".connectivity.local.LocalSyncJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".utils.AutoSyncManagers.FeedBinSyncJobService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--inoReader Service-->
        <service
            android:name=".utils.AutoSyncManagers.InoReaderSyncService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity
            android:name=".ui.base.EditSubscriptionActivity"
            android:parentActivityName=".ui.base.SearchForSubscriptionsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biniam.rss.ui.base.SearchForSubscriptionsActivity" />
        </activity>
        <activity
            android:name=".ui.base.SettingCategoriesActivity"
            android:parentActivityName=".ui.base.HomeActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biniam.rss.ui.base.HomeActivity" />
        </activity>
        <activity
            android:name=".ui.base.SettingsSubCategoryActivity"
            android:label="@string/title_activity_settings_sub_category"
            android:parentActivityName=".ui.base.SettingsSubCategoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.biniam.rss.ui.base.SettingsSubCategoryActivity" />
        </activity>
        <activity
            android:name=".readablyYouTubePlayer.PlayYouTubeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.base.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.base.AboutActivity" />
        <activity android:name=".ui.base.BetaExpiredActivity"></activity>


    </application>

</manifest>